#!/bin/bash
#
# .: Settings :.
#
#
#####
#
# GENERAL
#
#####
#
# The test name
# ex : "Production API"
TEST_NAME="Production API"

# Display alert on screen 
# (mainly for debug or test)
DEBUG=true

# set the following variable to true
# if you want the script to run forever
# (using nohup, tmux, screen or 
# if you're just running some tests)
RUN_FOREVER=true

# Raspberry Pi version
# can be : 
# ** 1 (for raspi 1 rev 2)
# ** 2 (for raspi 2)
# ** 3 (for raspi 3)
# doesn't matter if you use this script
# on a linux box other than a raspi
RASPI_VERSION=1

# Alert with GPIO (ONLY FOR RASPI !)
# see section bellow to set the pin to use for alerting
GPIO_ALERT=false

# Alert by sending a message to rocketChat
# see the section bellow to configure this script for rocketChat 
CHAT_ALERT=false

# Alert by sending an email
# /!\ YOU NEED TO HAVE SENDMAIL INSTALLED /!\
# check the instructions on how to install it, in the docs directory and
# see the section bellow to configure this alert system
EMAIL_ALERT=true

#####
#
#	TESTING THE API
#
#####
#
# the sleep time between 2 tests if one fails
SLEEPING_TIME=3 # default 3 seconds

# The verb used to ping the API
QUERY_METHOD="GET"

# the route to ping
URL="https://exemple.com:8080/api/ping"

# The JSON key to search for at the top level
# of the received JSON object
# (see 'man jq' for more)
JSON_KEY="response"

# The expected value
JSON_VALUE="PONG"

# The expected response from
# the ping route is an object
# like so :
#
# {
#   "response":"PONG"
# }
#


#####
#
#	ROCKET CHAT
#
#####
#
ROCKETCHAT_API_URL="https://rocketchat.exemple.com/api/v1"
ROCKETCHAT_USER_EMAIL='someUser@someDomain.com'
ROCKETCHAT_USER_PASSWORD='Th3SuperSecretP455word'

# must be prefixed with # for a channel, ex: #general
# or with an @ for an user, ex: @john
# (check rocket chat admin panel > Users to know the usernames)
ROCKETCHAT_CHANNEL_NAME="#test"

# The messages to send when the tested API is down
# or when it comes back up
ROCKETCHAT_MSG_SUCCESS="$TEST_NAME is back UP ! :thumbsup:"
ROCKETCHAT_MSG_FAILURE="$TEST_NAME is DOWN !!!! :thumbsdown:"


#####
#
#       SEND EMAIL
#
#####
#
# /!\ YOU NEED TO HAVE SENDMAIL INSTALLED /!\
# check the instructions on how to install it in the docs directory
#
# who do you want to send an email to ?
# you can add multiple reciepients with a comma
# ex : john1@to.to,betty@to.to
SENDMAIL_RECIPIENT="toto@to.to"
SENDMAIL_SUBJECT_SUCCESS="test SUCCESS"
SENDMAIL_SUBJECT_FAILURE="test FAILURE"


#####
#
#	GPIO 
#
#####
#
# the pin to use the raspberry pi
# to trigger an alert : turn on a light or something
# (check map bellow)

GPIO_PIN=2 # is pin 4 on the board

#########################################################
#
#               AVAILABLE PINS
#  (not all pins are available with this script)
#
#########################################################
#
# for the Raspberry Pi 2 and 3
#
#
#       Physical pins
# (as labeled on the board)     GPIO_PIN number to use 
#       0 >> EEPROM pin 1               0
#       1 >> EEPROM pin 2               1
#       4                               2
#       7                               3
#       8                               4
#       9                               5
#       10                              6
#       11                              7
#       14                              8
#       15                              9
#       17                              10
#       18                              11
#       21                              12
#       22                              13
#       23                              14
#       24                              15
#       25                              16
#
########################################################
#
# for Raspberry Pi 1 Revision 2
#
#       Physical pins
# (as labeled on the board)     GPIO_PIN number to use 
#       2                               0
#       3                               1
#       4                               2
#       7                               3
#       8                               4
#       9                               5
#       10                              6
#       11                              7
#       14                              8
#       15                              9
#       17                              10
#       18                              11
#       22                              12
#       23                              13
#       24                              14
#       25                              15
#       27                              16
#
#######################################################
#
#
#
###################

# !!!!!!!!!!!!!!!!!

###################
#
# DO NOT TOUCH the following lines, 
# unless you know exactly what you're doing
#
#####
#
# available pins for the raspi 2 & 3
GPIO_PINS='0 1 4 7 8 9 10 11 14 15 17 18 21 22 23 24 25'

# if it's a Raspberry Pi 1 revision 2
if [ $RASPI_VERSION -eq 1  ]
then
        # override the GPIO_PINS variable with the proper map
        GPIO_PINS='2 3 4 7 8 9 10 11 14 15 17 18 22 23 24 25 27'
fi


