#!/bin/bash
#
# .: Settings :.
#
#
# the route to ping
url="https://exemple.com:8180/api/ping"
#
# The expected response from
# the ping route is an object
# like so :
#
# {
#   "response":"PONG"
# }
#
#
# The verb used to ping the API
queryMethod="GET"
#
#
# The JSON key to search for at the top level
# of the received JSON object
# (see 'man jq' for more)
jsonKey="response"
