#!/bin/bash
#
# .: Settings :.
#
#
#####
#
# GENERAL
#
#####
#
# The test name
# ex : "Production Server"
readonly TEST_NAME=""

# Raspberry Pi version
# can be : 
# ** 1 (for raspi 1 rev 2)
# ** 2 (for raspi 2)
# ** 3 (for raspi 3)
# doesn't matter if you use this script
# on a linux box other than a raspi
readonly RASPI_VERSION=1

# Display alert on screen 
# (mainly for debug or test)
readonly DEBUG=true

# Alert with GPIO (ONLY FOR RASPI !)
# see section bellow to set the pin to use for alerting
readonly GPIO_ALERT=false

# Alert by sending a message to rocketChat
# see the section bellow to configure this alert system
readonly RC_ALERT=false

# set the following variable to true
# if you want the script to run forever
# (using nohup, tmux or screen if you want 
# to be able to close your terminal without stopping the script)
readonly RUN_FOREVER=true

#####
#
#	TESTING THE API
#
#####

# the sleeping time between 2 tests if one fails
readonly SLEEPING_TIME=3 # default 3 seconds

# The verb used to ping the API
readonly QUERY_METHOD="GET"

# the route to ping
readonly URL="https://exemple.com:8080/api/ping"

# The JSON key to search for at the top level
# of the received JSON object
# (see 'man jq' for more)
readonly JSON_KEY="response"

# The expected value
readonly JSON_VALUE="PONG"

# The expected response from
# the ping route is an object
# like so :
#
# {
#   "response":"PONG"
# }
#


#####
#
#	ROCKET CHAT
#
#####

readonly ROCKETCHAT_API_URL="https://rocketchat.exemple.com/api/v1"
readonly ROCKETCHAT_USER_EMAIL='someUser@someDomain.com'
readonly ROCKETCHAT_USER_PASSWORD='Th3SuperSecretP455word'

# MADATORY
# 1 of the 2 next options MUST be set
#
# ex: ByehQjC44FwMeiLbX 
readonly ROCKETCHAT_ROOM_ID=""
#
# or
#
# must be prefixed with #, ex: #general
readonly ROCKETCHAT_CHANNEL_NAME="#test"


#####
#
#	GPIO 
#
#####
#
# the pin to use the raspberry pi
# to trigger an alert : turn on a light or something
# (check map bellow)

GPIO_PIN=2 # is pin 4 on the board

#########################################################
#
#               AVAILABLE PINS
#  (not all pins are available with this script)
#
#########################################################
#
# for the Raspberry Pi 2 and 3
#
#
#       Physical pins
# (as labeled on the board)     GPIO_PIN number to use 
#       0 >> EEPROM pin 1               0
#       1 >> EEPROM pin 2               1
#       4                               2
#       7                               3
#       8                               4
#       9                               5
#       10                              6
#       11                              7
#       14                              8
#       15                              9
#       17                              10
#       18                              11
#       21                              12
#       22                              13
#       23                              14
#       24                              15
#       25                              16
#
########################################################
#
# for Raspberry Pi 1 Revision 2
#
#       Physical pins
# (as labeled on the board)     GPIO_PIN number to use 
#       2                               0
#       3                               1
#       4                               2
#       7                               3
#       8                               4
#       9                               5
#       10                              6
#       11                              7
#       14                              8
#       15                              9
#       17                              10
#       18                              11
#       22                              12
#       23                              13
#       24                              14
#       25                              15
#       27                              16
#
#######################################################




###################

# !!!!!!!!!!!!!!!!!

###################



##
#
# DO NOT TOUCH the following lines, 
# unless you know exactly what you're doing
#
##

# available pins for the raspi 2 & 3
GPIO_PINS='0 1 4 7 8 9 10 11 14 15 17 18 21 22 23 24 25'

# if it's a Raspberry Pi 1 revision 2
if [ $RASPI_VERSION -eq 1  ]
then
        # override the GPIO_PINS variable with the proper map
        GPIO_PINS='2 3 4 7 8 9 10 11 14 15 17 18 22 23 24 25 27'
fi


